body {
  margin: 0;
  padding: 0;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.canvas-wrapp {
  position: relative;
}

#canvas {
  border: 1px solid gray;
}

.circle {
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
}

.circle:hover {
  cursor: pointer;
}
